@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(251, 234, 255);
  background: linear-gradient(
    90deg,
    rgba(251, 234, 255, 1) 0%,
    rgba(207, 247, 255, 1) 100%
  );
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
input {
  outline: none;
}
.text-wrapper {
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-inline: auto;
  width: 90%;
  margin-bottom: 50px;
}
.header {
  color: rgb(105, 105, 248);
  font-size: 42px;
  font-weight: 500;
}
.sub-header {
  font-size: 14px;
  color: rgb(71, 71, 71);
}
.container {
  max-width: 500px;
  position: relative;
  margin: auto;
  border-radius: 10px;
}
.calculator {
  border-radius: 20px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.068);
  flex-wrap: wrap;
}
.calculator-header {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(71, 71, 71);
}
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
}
.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  gap: 20px;
  width: 100%;
}
label {
  font-size: 16px;
  flex-basis: 66%;
}
input {
  padding: 10px 12px;
  flex-basis: 33%;
}
.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
}
#submit,
#clear {
  padding: 10px 14px;
  border-radius: 5px;
  border: none;
  font: inherit;
  flex: 1;
  cursor: pointer;
}
#submit {
  background-color: rgb(105, 105, 248);
  color: white;
  transition: 0.2s ease;
}
#submit:hover {
  background-color: rgb(85, 85, 203);
}
#clear {
  background-color: transparent;
  outline: 1px solid black;
  transition: 0.2s ease;
}
#clear:hover {
  outline: 1px solid rgb(105, 105, 248);
  color: rgb(105, 105, 248);
}
.result-text {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

@media only screen and (min-width: 300px) and (max-width: 550px) {
  .header {
    font-size: 32px;
  }
  .container {
    margin: 20px;
  }
  .calculator {
    width: 98%;
    padding-inline: 20px;
  }
  form {
    width: 100%;
  }
  .input-group {
    gap: 10px;
    /* width: 100%; */
  }
  label {
    font-size: 14px;
  }
  .calculator-header {
    font-size: 16px;
  }
  .buttons {
    font-size: 16px;
  }
}
